html,
body{
    box-sizing: border-box;
    margin: 0;
    background-color: azure;
    text-align: center;
}
.main{
    position: relative;
}
#header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    top: 0;
    background-color: azure;
}
.header{
    margin: auto 30px;
}
#nav-bar{
    margin: auto 30px;
    right: 10px;
}
#nav-bar ul{
    margin: auto;
    padding: 0;
}
#nav-bar ul li{
    display: inline-block;
    width: fit-content;
    margin: 10px;
}
a{
    text-decoration: none;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    color: black;
}
a:hover{
    background-color: orangered;
    border-radius: 5px;
    transition: 500ms;
}
.header img{
    width: 300px;
    margin-top: 10px;
}
.home-made{
    margin-top: 90px;
    margin-bottom: 10px;
    text-align: center;
}
input{
    display: block;
    margin: 10px auto;
}
.text{
    width: 300px;
    height: 20px;
    border-radius: 5px;
}
#features{
    margin: 20px auto;
}
.grid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}
.grid .icon{
    width: 10%;
    margin: auto;
    color: orangered;
}
.grid .desc{
    width: 90%;
    text-align: left;
}
#ads{
    margin: auto;
}
iframe{
    aspect-ratio: 16/9;
    width: 50%;
}
#price{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.select{
    width: 200px;
    margin: 15px;
    border: 1px solid rgb(115, 119, 119);
    border-radius: 3px;
}
.header-price{
    display: absolute;
    background-color: rgb(230, 237, 237);
    margin: 0;
    padding: 10px;
}
button{
    margin: 10px;
}
.terms ul{
    padding: 0;
}
.terms ul li{
    display: inline-block;
}
footer{
    width: 100%;
}
@media only screen and (max-width: 480px){
    #nav-bar ul li{
        margin: 0;
    }
    .grid .desc{
        width: 60%;
    }
    #header,
    #price{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .copy, .copy a{
        font-size: 10px;
    }
    iframe{
        width: 90%;
    }
    *{
        scroll-behavior: smooth;
    }
}
